#navbar-logo {
  width: 200px;
  margin-left: 4vw;
  margin-top: 2vw;
  object-fit: contain;
}

#navbar-row {
  margin-top: 2vw;
  margin-left: 1vw;
}

.nav.navbar-nav li a {
  color: black;
  text-decoration: none;
  margin-left: 3vw;
}

.float-right {
  margin-right: 1vw;
  float: right;
  display: flex;
  justify-content: end;
}

.btn.btn-outline-light {
  color: rgb(101, 149, 248);
  font-weight: bold;
  margin-right: 2vw;
  white-space: nowrap;
}
/* */
@media (max-width: 1218px) {
  #btnGetStarted
{
  float: center;
  margin-left: 8vw;
}
}
.btn.btn-success {
  background-color: rgb(67, 126, 247);
  margin-right: 2vw;
  white-space: nowrap;
}

.fa-solid.fa-arrow-up {
  padding-left: 2vw;
  padding-top: 10vw;
  color: #437EF7;
  margin-right: 1vw;
}

.frame-1 {
  height: auto;
  width: 100%;
  object-fit: contain;

}

.frame-1-768 {
  height: auto;
  width: 100%;
  object-fit: contain;
  display: none;
}

.frame-1-375 {
  height: auto;
  width: 100%;
  object-fit: contain;
  display: none;
}

#frame-1-column {
  text-align: right;
  float: right;
}

#top-1-percent {
  color: #437EF7;
  white-space: nowrap;
}

.display-2-normal-variant {
  /* margin-left: 2vw; */
  font-weight: bold;
}

.display-12 {
  /* padding-left: 2vw; */
  font-weight: normal;
  color: #727F8E;
}

.display-12-375-variant {
  display: none;
}

.col-6 {
  padding-left: 2vw;
}

.col-6-frame2 {
  display: block;
}

.col-2-frame2-variant {
  display: none;
}

.variant {
  font-size: medium;
}

#grid-layout-normal {
  margin-top: 4vw;
  background-color: #2B63D9;
  color: white;
  padding-top: 4vw;
  padding-bottom: 3vw;
  display: block;
  justify-content: center;
  text-align: center;
}

#grid-layout-768 {
  margin-top: 4vw;
  background-color: #2B63D9;
  color: white;
  padding-top: 4vw;
  padding-bottom: 3vw;
  justify-content: center;
  display: none;
  /* text-align: center; */
}

#grid-layout-375 {
  margin-top: 4vw;
  background-color: #2B63D9;
  color: white;
  padding-top: 4vw;
  padding-bottom: 3vw;
  justify-content: center;
  display: none;
  /* text-align: center; */
}

#grid-layout-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display-6 {
  font-weight: bold;
}

.grid-part-normal {
  margin-left: 4vw;
  background-color: #3970E5;
  padding-top: 1vw;
}

.grid-part-768 {
  margin-left: 4vw;
  background-color: #3970E5;
  padding-top: 1vw;
}

.grid-part-375 {
  margin-left: 4vw;
  background-color: #3970E5;
  padding-top: 1vw;
}

.btn.btn-primary {
  background-color: white;
  color: #437EF7;
  font-weight: bold;
  float: right;

}

.footer-login-btn-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1vw;
}

.btn-primary-footer {
  background-color: white;
  color: #437EF7;
  font-weight: bold;
  font-size: large;
}

.footer-Login {
  color: white;
  background-color: #437EF7;
  font-weight: bold;
  margin-left: 2vw;
  font-size: larger;
  outline: none;
  display: none;
}

.footer-flexbox {
  display: flex;
  flex-direction: row;
  background-color: black;
  flex-wrap: wrap;
  padding-bottom: 2vw;
  padding-top: 2vw;
}

.footer-logo-email {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
  padding-left: 3vw;
  flex-wrap: nowrap;
}

.form-control2 {
  background-color: #2C3444;
  border: none;
  color: #F5FAFF;
  width: 60%;
}

::placeholder {
  color: #F5FAFF;
  padding-left: 0.5vw;
}

.btn.btn-outline {
  color: white;
  background-color: #437EF7;
  font-weight: bold;
  padding-bottom: 0.7%;
}

#company-logo-footer {
  height: auto;
  width: 60%;
  object-fit: contain;
}

.footer-detail-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 20%;
  margin-left: 5vw;
}

.footer-detail-info-row {
  font-size: small;
  color: #A5ACBA;
}
hr.solid {
  border-top: 1px solid #bbb;
  width: 90%;
  margin-left: 5vw;
  margin-right: 5vw;
}
.footer-detail-info-row-heading {
  /* font-size: medium;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-bottom: 1vw; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #F9F9F9;
  margin-bottom: 2vw;
}
.rights-reserved
{
  font-size: small;
  color: #A5ACBA;
  text-align: center;
}
@media (max-width: 1140px) {
  .footer-Login {
    display: inline;
  }
  .footer-logo-email
  {
    width: 100%;
  }
  .footer-detail-info
  {
    width: 25%;
    margin-top: 2vw;
  }
}
@media (max-width: 800px) {
  .footer-detail-info{
    width: 30%;
  }
}
@media (max-width: 600px) {
  .footer-login-btn-flexbox {
    flex-direction: column;
    padding-bottom: 4vw;
  }

  .footer-Login {
    margin-left: 8%;
    margin-right: 2%;
  }

  .btn-primary-footer {
    margin-left: 8%;
    margin-right: 2%;
  }
}
/* ********************************************************************************************************
********************************************************************************************************
******************************************************************************************************** */
.fa-solid.fa-plug {
  background-color: #437EF7;
  justify-content: start;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
  float: left;
}
.fa-solid.fa-bolt{
  background-color: #437EF7;
  justify-content: start;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
  float: left;
}
.fa-solid.fa-user {
  background-color: #437EF7;
  justify-content: start;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
  float: left;
}
.fa-solid.fa-lightbulb {
  background-color: #437EF7;
  justify-content: start;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
  float: left;
}
.fa-solid.fa-star {
  background-color: #437EF7;
  justify-content: start;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
  float: left;
}
.fa-solid.fa-globe {
  background-color: #437EF7;
  justify-content: start;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
  float: left;
}
/* ********************************************************************************************************
********************************************************************************************************
******************************************************************************************************** */
.display-6-variant {
  padding-left: 2vw;
}
.display-6-variant-div4 {
  padding-left: 2vw;
  text-align: left;
}
.display-7 {
  padding-left: 0.6vw;
  text-align: left;
}

.frame-2 {
  height: auto;
  width: 70%;
  object-fit: contain;
  padding-right: 10vw;
}

#frame-2-column {
  padding-top: 4vw;
  text-align: right;
  float: right;
}

#two-column-flexbox {
  display: flex;
  flex-direction: row;
  background-color: #F8F9FB;
  align-content: flex-start;
}

#two-column-flexbox-fourth {
  display: flex;
  flex-direction: row;
  background-color: #F8F9FB;
  align-content: flex-start;
}

#column4-flexbox {
  margin-top: 2vw;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
}

.flex-item-left {
  padding-left: 10px;
  flex: 40%;
}

.flex-item-left-frame2 {
  flex: 40%;
  padding-left: 10vw;
}

.flex-item-right {
  flex: 60%;

}

/* Hide short text by default (resolution > 1200px) */
.display-2-768-variant {
  font-weight: bold;
  display: none;
}

/* When resolution <= 1200px, hide full text and show short text */
@media (max-width: 768px) {
  .display-2-768-variant {
    display: inline-block;
  }

  .display-2-normal-variant {
    display: none;
  }

  .fa-sharp.fa-solid.fa-sharp {
    padding-top: 0vw;
  }
}

@media (max-width: 768px) {
  .frame-1-768 {
    display: inline-block;
  }

  .frame-1 {
    display: none;
  }

  .frame-1-375 {
    display: none;
  }
}

@media (max-width: 375px) {
  .display-12-375-variant {
    display: inline-block;
  }

  .display-12-normal-variant {
    display: none;
  }

  .frame-1-375 {
    display: inline-block;
  }

  .frame-1 {
    display: none;
  }

  .frame-1-768 {
    display: none;
  }

  .fa-sharp.fa-solid.fa-sharp {
    padding-top: 5vw;
  }

  #column4-flexbox {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  #two-column-flexbox {
    flex-direction: column-reverse;
    align-content: center;
  }
}

@media (max-width: 1300px) {
  #two-column-flexbox-fourth {
    flex-direction: column;
  }

  .flex-item-left-frame2 {
    text-align: center;
    padding-left: 0vw;
  }

  .col-2-frame2-variant {
    display: block;
  }

  .col-6-frame2 {
    display: none;
  }
}

@media (max-width: 940px) {
  #column4-flexbox {
    margin-top: 4vw;
    justify-content: flex-start;
  }

  .flex-col-3 {
    text-align: left;
    padding-left: 4vw;
  }

}

.grid-layout-col-item {
  margin-left: 3vw;
  display: flex;
  flex-direction: row;
}

.grid-layout-row-item {
  display: flex;
  flex-direction: column;
}

@media (max-width: 994px) {
  #grid-layout-768 {
    display: block;
  }

  #grid-layout-normal {
    display: none;
  }

  #grid-layout-375 {
    display: none;
  }
}

@media (max-width: 580px) {
  #grid-layout-375 {
    display: block;
  }
  .grid-part-375
  {
    margin-left: 8vw;
  }
  #grid-layout-normal {
    display: none;
  }

  #grid-layout-768 {
    display: none;
  }
  .display-6-variant-div4 {
    padding-left: 0vw;
    margin-left: 3vw;
  }
}

#team-flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 3vw; */
}

.profile-box {
  width: 35%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 4vw;
  margin-top: 2vw;
}

.question-1 {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-left: 4vw;
  margin-top: 0.8vw;
  /* background-color: black; */
  justify-content: space-between;
  outline-style: solid;
  outline-color: rgba(115, 127, 142,0.2);
  padding-top: 0.4vw;
  outline-width: 0.1px;
  outline-offset: 1;
  padding-right: 1vw;
}

.profile-data-col {
  display: flex;
  flex-direction: column;
}

.profile-pic {
  height: auto;
  width: 40%;
  object-fit: contain;
}

.lead {
  margin-left: 0.6vw;
  word-wrap: normal;

}

.profile-name {
  font-weight: 500;
}

.profile-title {
  color: #437EF7;
  font-size: medium;
}

.profile-descrp {
  color: #737F8E;
  font-size: 16px;
  padding-right: 3vw;
}

.display-6.text-center {
  padding-top: 2vw;
}

.team-sub {
  font-weight: 400;
  text-align: center;
}

.profile-sns {
  display: inline;
  font-size: larger;
  padding-left: 1vw;
  word-spacing: 0.4vw;
}

@media (max-width: 1820px) {
  #team-flexbox-container {
    flex-direction: column;
  }

  .profile-pic {
    width: 50%;
  }

  .profile-box {
    width: 100%;
    justify-content: center;
  }
}

/* 640px */
@media (max-width: 640px) {
  .profile-box {
    flex-wrap: wrap;
  }

  .profile-pic {
    width: 80%;
  }
}

.row.row-faq {
  margin-left: 10vw;
}

.btn.btn-rounded {
  color: #437EF7;
  background-color: #F5FAFF;
}

.updated-info-faq {
  padding-top: 1vw;
  font-size: small;
  display: block;
}

@media (max-width: 900px) {
  .updated-info-faq {
    display: none;
  }
}

.lead-faq {
  font-size: medium;
}

.footer-signup-row {
  text-align: center;
  margin-top: 3vw;
  background-color: #2B63D9;
}

.footer-signup-heading {
  font-size: 50px;
  color: white;
  padding: 2vw;
}
